/*-----|| family font||---------*/
@font-face {
    font-family: VietnamPro;
    src: url("./fonts/BeVietnamPro-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: VietnamPro1;
    src: url("./fonts/BeVietnamPro-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: VietnamPro2;
    src: url("./fonts/BeVietnamPro-Bold.ttf");
    font-weight: 700;
}
/*-----------------------------------------------*/


/*-----|| root ||---------*/
:root{
    /*------**Primary*-------*/
    --Orange-400: hsl(12, 88%, 59%);
    --Blue-950: hsl(228, 39%, 23%);

    /*------**Neutral*-------*/
    --Gray-950: hsl(233, 12%, 13%);
    --Orange-50: hsl(13, 100%, 96%);
    --Gray-50: hsl(0, 0%, 98%);
    --Grey-400: hsl(210, 4%, 67%);
}
/*-----------------------------------------------*/
* {
  box-sizing: border-box;
}

/*-----||body ||---------*/
body{
    font-size: 16px;
    font-family: VietnamPro;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
    background-color: #fff;
    overflow-x: hidden;
}
p{
    color: var(--Grey-400);
    font-size: medium;
}
h4{
    font-size: larger;
}
h2 {
    font-size: x-large;
}
/*-----------------------------------------------*/

img {
  max-width: 100%;
  display: block;
}


/*-----|| navigation bar ||---------*/
nav{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    margin-bottom: 5rem;
}
.closebtn{
    display: none;
}
.openbtn{
    display: none;
}
/*----middle------*/
.nav-links {
    
    width: 100%;
    text-align: center;
}
.nav-links a{
    text-decoration: none;
    
    padding:10px;
    color: var(--Blue-950);
    font-size: 12px;
    font-weight: 500;
}

.nav-links a:hover{
    color: var(--Grey-400);
}
/*----last------*/

button{
    padding: 8px 24px;
    border: none;
    font-size: 12px;
    border-radius:20px;
    background-color: var(--Orange-400);
    color: var(--Gray-50);
    font-family: VietnamPro1;
}   

.nav-btn button {
    
    box-shadow: 0 10px 20px rgba(242, 95, 58, 0.25);
}
/*-----------------------------------------------*/

/*-----|| hero section ||---------*/
.hero-sec{
    
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-bottom: 15rem;
}
/*----left------*/
.hero-left{
    width: 50%;
}
.hero-left h1{
    color: var(--Blue-950);
    font-size:64px;
    font-family: VietnamPro2;
    line-height: 1.2;
    margin-bottom: 1.5rem;

}



/*----right------*/
.hero-right{
    
    width: 50%;
    position: relative;
}
.hero-right img{
    width: 100%;
}
/*-----------------------------------------------*/


/*-----|| section 2 ||---------*/
.sec2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
    gap: 4rem;
}

/*----left------*/
.sec2-left{
    width: 45%;
}
.sec2-left h2 {
    color: var(--Blue-950);
    font-size: 28px;
    font-family: VietnamPro1;
}
.sec2-left p{
    width:65%;
    
    
}
/*----right------*/
.sec2-right{
    width: 45%;
}
/*--grid---*/

.grid1-left{
    display: flex;
    height: 2vh;
    align-items: center;
    background-color: var(--Orange-50);
   
}
.num {
  background-color: var(--Orange-400);
  color: white;
  padding: 6px 18px;
  border-radius: 20px;
  font-size: 12px;
  margin-right: 1rem;
  font-family: VietnamPro1;
}

.grid1-left h3{
    color: var(--Blue-950);
    
    font-family: VietnamPro1;
    margin-left: 15px;
}

.grid1-right{
    margin-top: 15px;
    margin-left: 10px;
}

.grid1-right p{
    width: 80%;
    
    line-height: 1.6;
    margin-left: 3.5rem;
    margin-top: 0;
    
}
/*-----------------------------------------------*/


/*-----|| section 3 ||---------*/
.sec3-h3{
   color: var(--Blue-950);
    font-size: 28px; 
    text-align: center;
}
.sec3 {
    display: flex;
    gap: 2rem;
    margin-top: 4rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
.sec3 > div {
    min-width: 250px;
    scroll-snap-align: center;
    background-color: var(--Gray-50);
    padding: 2rem;
    text-align: center;
    border-radius: 6px;
}

/*---first grid---*/
.sec3-grid1{
    text-align: center;
    width:100%;

}

.sec3-grid1 img{
    width:20%;
}
.sec3-grid1 h4{
    
    color: var(--Blue-950);
    font-family: VietnamPro1;
}
.sec3-grid1 p{
   
    
    width: 100%;
}

/*---second grid---*/
.sec3-grid2{
    text-align: center;
    width:100%;
}

.sec3-grid2 img{
    width:20%;
}
.sec3-grid2 h4{
    
    color: var(--Blue-950);
    font-family: VietnamPro1;
}



/*---third grid---*/
.sec3-grid3{
    text-align: center;
    width:100%;
}

.sec3-grid3 img{
    width:20%;
}
.sec3-grid3 h4{
    
    color: var(--Blue-950);
    font-family: VietnamPro1;
}



/*---fourth grid---*/
.sec3-grid4{
    text-align: center;
    width:100%;
}

.sec3-grid4 img{
    width:20%;
}
.sec3-grid4 h4{
    
    color: var(--Blue-950);
    font-family: VietnamPro1;
}



.sec3-btn{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
/*-----------------------------------------------*/


/*-----|| section4  ||---------*/
.sec4{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18vh;
    padding: 4rem 6rem;
    background-color:var(--Orange-400);
    margin-bottom: 0px;
}
.sec4 h3{
    color: var(--Gray-50);
    font-size: 36px;
  line-height: 1.2;
  max-width: 450px;
}

.sec4 button{
    background-color: white;
  color: var(--Orange-400);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}
/*-----------------------------------------------*/


/*-----|| footer    ||---------*/
footer{
    background-color:var(--Gray-950) ;
    display: flex;
    justify-content: space-around;
    height: 20vh;
    align-items: center;
    padding: 4rem 6rem;
    width: 100%;
}
.ft1{
    width:20%;
    height: 20vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ft1-img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.ft-img:hover{
    color: var(--Orange-400);
}

#ft2-sec{
    display: flex;
    justify-content: space-around;
}

.ft2{
    width:10%;
    
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    justify-content: center;
    row-gap: 20px;
}

.ft2 a{
    text-decoration: none;
    color: var(--Gray-50);
    font-size: 12px;

}


.ft3{
    width:30%;

    
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    justify-content: center;
    row-gap: 20px;

}

.ft3 a{
    text-decoration: none;
    color: var(--Gray-50);
    font-size: 12px;
}


.ft4{
    width:30%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ft4-top{
    display: flex;
    justify-content: space-around;
}

.ft4-top input{
    padding: 10px 20px;
    border: none;
    border-radius:20px;
    color: var(--Gray-50);
    font-family: VietnamPro1;
}   

.ft4-top button{
 padding: 5px 16px;
 font-size: 12px;
}
.ft4-btm{
    color: var(--Grey-50);
    text-align: center;
}
.ft4-btm p{
    font-size: 12px;
}
/*-----------------------------------------------*/
 

/* Mobile default */
@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    flex-direction: column;
    background: var(--Gray-50);
    overflow-x: hidden;
    transition: width 0.3s ease;
    padding-top: 80px;
    z-index: 1000;
  }

  .openbtn {
    display: block;
  }

  .nav-btn {
    display: none;
  }

  .closebtn {
    display: block;
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 24px;
    text-decoration: none;
  }

    .hero-sec,
  .sec2,
  .sec4 {
    flex-direction: column;
    text-align: center;
  }

  .hero-left p,
  .sec2-left p {
    margin: 0 auto;
  }

  .grid1-right p {
    margin-left: 0;
  }

  .sec3 {
    flex-direction: column;
  }
}
/*-----|| media queries - mobile small view||---------*/
@media (max-width: 320px) { }
@media (min-width: 321px) and (max-width: 375px) { }
@media (min-width: 376px) and (max-width: 425px) { }
@media (min-width: 426px) and (max-width: 768px) { }

@media (max-width: 768px) {

  nav {
    margin-bottom: 50px;
  }

  .hero-sec,
  .sec2 {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  .hero-left,
  .hero-right,
  .sec2-left,
  .sec2-right {
    width: 100%;
  }

  .grid1-left {
    flex-direction: row;
    align-items: center;
  }

  .grid1-right p {
    width: 100%;
    margin-left: 0;
  }

  .sec3 {
    flex-direction: column;
  }

  .sec4 {
    flex-direction: column;
    height: auto;
    padding: 3rem 1rem;
    text-align: center;
  }

  footer {
    flex-direction: column-reverse;
    gap: 2rem;
    height: auto;
    padding: 3rem 1rem;
  }

  .ft1,
  .ft2,
  .ft3,
  .ft4 {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}
